.CustomSelect {
  position: relative;
}
.CustomSelect-choozen {
  width: 240px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #808dff;
  border-bottom: none;
  color: #191f4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;

  box-sizing: border-box;
}
.CustomSelect-header {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  height: 29px;
  width: 90%;
}

.selectedList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow-x: scroll;
  margin: 0 3px;

}
.selectedOptions {
  display: block;
  width: 30px;
  height: 18px;
  background-color: #6f7eff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px;
  cursor: pointer;
}
.selectedOptions::after {
  content: "x";
  margin-left: 5px;
}
.CustomSelect-header p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CustomSelect-arrow {
  cursor: pointer;
  display: block;
  width: 20px;
  text-align: center;
}
.arrow {
  border: solid #191f4d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.arrowClose {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
}
.arrowOpen {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.CustomSelect-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 240px;
  border: 1px solid #808dff;
  border-top: none;
  cursor: pointer;
  box-sizing: border-box;
  max-height: 160px;
  padding-right: 4px;
}
.CustomSelect-scrollWrapper {
  max-height: 160px;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: relative;
}
.CustomSelect-ul {
  list-style: none;
  cursor: pointer;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 3px;
  position: relative;
  z-index: 1;
}
.CustomSelect-scrollWrapper::-webkit-scrollbar {
  width: 8px;
}
.CustomSelect-scrollWrapper::-webkit-scrollbar-thumb {
  background-color: #e5e6e9;
  border-radius: 4px;
  width: 8px;
  height: 60px;
  /* z-index: 1; */
}

.CustomSelect-ul li {
  height: 30px;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  font-size: 15px;
  color: #191f4d;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectInputWrapper {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.selectInput {
  border: none;
  height: 30px;
  width: 215px;
}
.selectInput:focus {
  outline: none;
}
.CustomSelect-ul li:has(.selectInput):hover {
  background-color: #fff;
}
.CustomSelect-ul li:hover {
  background-color: #dbdfff;
}
.liChosen {
  background-color: #808dff;
  color: #fff !important;
}
.optionName {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #6f7eff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px;
}
